<div class="toolbar" role="banner">
  <img width="120" alt="Spor Toto Logo" src="../assets/logo/spor-toto-super-lig-yatay.png" />
  <div class="spacer"></div>
</div>
<div class="content" role="main">
  <div class="flex w-full">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th class="text-center" colspan="9">Puan Durumu</th>
        </tr>
        <tr>
          <th>Takımlar</th>
          <th>P</th>
          <th>O</th>
          <th>G</th>
          <th>B</th>
          <th>M</th>
          <th>AG</th>
          <th>YG</th>
          <th>Av.</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let t of teams">
          <td>{{t.name}}</td>
          <td>{{t.point}}</td>
          <td>{{t.played_games}}</td>
          <td>{{t.won_games}}</td>
          <td>{{t.draw_games}}</td>
          <td>{{t.lose_games}}</td>
          <td>{{t.goal_scored}}</td>
          <td>{{t.goal_conceded}}</td>
          <td>{{t.average}}</td>
        </tr>
      </tbody>
    </table>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th class="text-center">STS {{week}}. Hafta Maç Sonuçları</th>
        </tr>
        <tr>
          <th>Maç Sonuçları</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let match of matches">
          <tr *ngFor="let m of match.matches">
            <td>{{m.homeName}} {{m.homeScore}} - {{m.awayScore}} {{m.awayName}}</td>
          </tr>
          <tr>
            <td><br></td>
          </tr>
          <tr>
            <td><br></td>
          </tr>
        </ng-container>
      </tbody>
    </table>
    <table class="table table-striped">
      <thead>

        <th colspan="2">
          Şampiyonluk Tahminleri
        </th>

      </thead>
      <tbody>
        <tr *ngFor="let t of prediction">
          <td>{{t.name}}</td>
          <td>%{{t.possibility}} </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="champion">🏆 ŞAMPİYON {{champion}}</div>
  <div class="flex">

    <button class="btn btn-warning" *ngIf="week !== 6" (click)="playAllMatches()"> Tüm ligi oynat</button>
    <button class="btn btn-primary ml-5" *ngIf="week !== 6" (click)="nextWeek()">Sonraki Hafta </button>
    <button class="btn btn-success ml-5" *ngIf="week == 6 && !champion" (click)="endLeague()">Ligi Bitir </button>
  </div>
</div>
<router-outlet></router-outlet>